Repository neow3j/neow3j, pull requests merged in 2021-01, with the labels that each got.

#347 Update NeoToken class and tests
  contract/src/main/java/io/neow3j/contract/NeoToken.java
  contract/src/test/java/io/neow3j/contract/ContractTestHelper.java
  contract/src/test/java/io/neow3j/contract/NeoTokenTest.java
  contract/src/test/resources/responses/invokefunction_getGasPerBlock.json
  contract/src/test/resources/responses/invokefunction_getcandidates.json
Labels: neo3, preview4, sdk

#302 Adapt devpack contract classes
  compiler/src/main/java/io/neow3j/compiler/Compiler.java
  compiler/src/main/java/io/neow3j/compiler/converters/MethodsConverter.java
  compiler/src/test-integration/java/io/neow3j/compiler/ContractInterfacesTest.java
  compiler/src/test-integration/java/io/neow3j/compiler/ContractTest.java
  compiler/src/test-integration/java/io/neow3j/compiler/GasTokenTest.java
  compiler/src/test-integration/java/io/neow3j/compiler/NeoTokenTest.java
  compiler/src/test-integration/java/io/neow3j/compiler/Nep17TokenTest.java
  compiler/src/test-integration/java/io/neow3j/compiler/ObjectLengthTest.java
  compiler/src/test-integration/java/io/neow3j/compiler/PolicyContractTest.java
  compiler/src/test-integration/java/io/neow3j/compiler/StringConcatenationTest.java
  compiler/src/test/java/io/neow3j/compiler/CompilerExceptionsTest.java
  devpack/src/main/java/io/neow3j/devpack/ContractInterface.java
  devpack/src/main/java/io/neow3j/devpack/annotations/ContractHash.java
  devpack/src/main/java/io/neow3j/devpack/contracts/GasToken.java
  devpack/src/main/java/io/neow3j/devpack/contracts/ManagementContract.java
  devpack/src/main/java/io/neow3j/devpack/contracts/NeoToken.java
  devpack/src/main/java/io/neow3j/devpack/contracts/Nep17Token.java
  devpack/src/main/java/io/neow3j/devpack/contracts/PolicyContract.java
  devpack/src/main/java/io/neow3j/devpack/neo/GAS.java
Labels: devpack, neo3, preview4

#304 New syscalls itoa atoi
  compiler/src/test-integration/java/io/neow3j/compiler/BinaryTest.java
  devpack/src/main/java/io/neow3j/devpack/Helper.java
  devpack/src/main/java/io/neow3j/devpack/neo/Binary.java
Labels: devpack, neo3, preview4

#305 Add designate contract interface to devpack
  compiler/src/test-integration/java/io/neow3j/compiler/DesignationContractTest.java
  contract/src/main/java/io/neow3j/contract/SmartContract.java
  devpack/src/main/java/io/neow3j/devpack/neo/DesignationContract.java
  devpack/src/main/java/io/neow3j/devpack/neo/Role.java
Labels: devpack, neo3, preview4

#320 Designation contract support
  contract/src/main/java/io/neow3j/contract/DesignationContract.java
  contract/src/test/java/io/neow3j/contract/DesignationContractTest.java
  contract/src/test/resources/responses/designation_designateAsRole.json
  contract/src/test/resources/responses/designation_getByRole.json
  contract/src/test/resources/responses/designation_getByRole_empty.json
  core/src/main/java/io/neow3j/protocol/core/DesignationRole.java
Labels: neo3, preview4, sdk

#309 Support the verify and deploy smart contract methods
  build.gradle
  compiler/src/main/java/io/neow3j/compiler/AsmHelper.java
  compiler/src/main/java/io/neow3j/compiler/Compiler.java
  compiler/src/main/java/io/neow3j/compiler/NeoMethod.java
  compiler/src/main/java/io/neow3j/compiler/NeoModule.java
  compiler/src/main/java/io/neow3j/compiler/converters/MethodsConverter.java
  compiler/src/main/java/io/neow3j/compiler/converters/ObjectsConverter.java
  compiler/src/test-integration/java/io/neow3j/compiler/ContractTest.java
  compiler/src/test-integration/java/io/neow3j/compiler/DeploymentMethodIntegrationTest.java
  compiler/src/test-integration/java/io/neow3j/compiler/NeoTokenTest.java
  compiler/src/test-integration/java/io/neow3j/compiler/VerificationMethodIntegrationTest.java
  compiler/src/test/java/io/neow3j/compiler/AsmHelperTest.java
  compiler/src/test/java/io/neow3j/compiler/DeploymentMethodTest.java
  compiler/src/test/java/io/neow3j/compiler/VerificationMethodTest.java
  core/build.gradle
  core/src/main/java/io/neow3j/protocol/core/JsonRpc2_0Neow3j.java
  core/src/main/java/io/neow3j/protocol/core/Neo.java
  core/src/main/java/io/neow3j/protocol/core/methods/response/NeoInvokeContractVerify.java
  core/src/main/java/io/neow3j/utils/Await.java
  core/src/test-integration/java/io/neow3j/protocol/Neow3jReadOnlyIntegrationTest.java
  core/src/test-integration/java/io/neow3j/protocol/Neow3jTestWrapper.java
  core/src/test-integration/java/io/neow3j/protocol/Neow3jWriteIntegrationTest.java
  core/src/test/java/io/neow3j/protocol/core/RequestTest.java
  core/src/test/java/io/neow3j/protocol/core/ResponseTest.java
  devpack/src/main/java/io/neow3j/devpack/annotations/OnDeployment.java
  devpack/src/main/java/io/neow3j/devpack/annotations/OnVerification.java
  devpack/src/main/java/io/neow3j/devpack/neo/TriggerType.java
Labels: devpack, neo3, preview4

#353 NeoURI Transfer Update
  contract/src/main/java/io/neow3j/contract/NeoURI.java
  contract/src/test/java/io/neow3j/contract/NeoURITest.java
  contract/src/test/java/io/neow3j/contract/Nep17TokenTest.java
Labels: neo3, preview4, sdk

#355 Setting of contract name in contract manifest
  compiler/src/main/java/io/neow3j/compiler/AsmHelper.java
  compiler/src/main/java/io/neow3j/compiler/CompilationUnit.java
  compiler/src/main/java/io/neow3j/compiler/Compiler.java
  compiler/src/main/java/io/neow3j/compiler/ManifestBuilder.java
  compiler/src/main/java/io/neow3j/compiler/NeoMethod.java
  compiler/src/test/java/io/neow3j/compiler/ContractNameTest.java
  devpack/src/main/java/io/neow3j/devpack/annotations/DisplayName.java
Labels: devpack, neo3, preview4

#356 Fixes and tests for devpack/compiler
  compiler/src/main/java/io/neow3j/compiler/converters/ArraysConverter.java
  compiler/src/test-integration/java/io/neow3j/compiler/ContractIntegrationTest.java
  compiler/src/test-integration/java/io/neow3j/compiler/ManagementContractIntegrationTest.java
  core/src/main/java/io/neow3j/protocol/core/methods/response/BufferStackItem.java
  core/src/main/java/io/neow3j/protocol/core/methods/response/ByteStringStackItem.java
  devpack/src/main/java/io/neow3j/devpack/contracts/ManagementContract.java
  devpack/src/main/java/io/neow3j/devpack/neo/CallFlags.java
  devpack/src/main/java/io/neow3j/devpack/neo/Contract.java
Labels: devpack, neo3, preview4

#358 Fix filenames of NEF and debug info files from gradle plugin output
  contract/src/main/java/io/neow3j/contract/ContractUtils.java
  contract/src/test/java/io/neow3j/contract/ContractUtilsTest.java
  gradle-plugin/src/main/java/io/neow3j/devpack/gradle/Neow3jCompileAction.java
  gradle-plugin/src/main/java/io/neow3j/devpack/gradle/Neow3jPluginUtils.java
  gradle-plugin/src/test/java/io/neow3j/devpack/gradle/Neow3jPluginUtilsTest.java
Labels: bug, devpack, neo3

#361 Added JavaDoc to RPC call methods
  core/src/main/java/io/neow3j/protocol/core/JsonRpc2_0Neow3j.java
Labels: neo3, sdk

#333 Add Hash160 and Hash256 classes to devpack
  compiler/src/main/java/io/neow3j/compiler/Compiler.java
  compiler/src/main/java/io/neow3j/compiler/NeoInstruction.java
  compiler/src/main/java/io/neow3j/compiler/NeoMethod.java
  compiler/src/main/java/io/neow3j/compiler/converters/MethodsConverter.java
  compiler/src/test-integration/java/io/neow3j/compiler/BlockchainTest.java
  compiler/src/test-integration/java/io/neow3j/compiler/ContractIntegrationTest.java
  compiler/src/test-integration/java/io/neow3j/compiler/ContractInterfacesTest.java
  compiler/src/test-integration/java/io/neow3j/compiler/DesignationContractTest.java
  compiler/src/test-integration/java/io/neow3j/compiler/GasTokenTest.java
  compiler/src/test-integration/java/io/neow3j/compiler/HashIntegrationTest.java
  compiler/src/test-integration/java/io/neow3j/compiler/ManagementContractIntegrationTest.java
  compiler/src/test-integration/java/io/neow3j/compiler/NeoTokenTest.java
  compiler/src/test-integration/java/io/neow3j/compiler/Nep17TokenTest.java
  compiler/src/test-integration/java/io/neow3j/compiler/PolicyContractTest.java
  compiler/src/test-integration/java/io/neow3j/compiler/StringLiteralHelperIntegrationTest.java
  compiler/src/test-integration/java/io/neow3j/compiler/VerificationMethodIntegrationTest.java
  compiler/src/test/java/io/neow3j/compiler/CompilerExceptionsTest.java
  compiler/src/test/java/io/neow3j/compiler/CompilerTest.java
  compiler/src/test/java/io/neow3j/compiler/HashTest.java
  compiler/src/test/java/io/neow3j/compiler/StringLiteralHelperTest.java
  compiler/src/test/java/io/neow3j/compiler/SupportedStandardsTest.java
  compiler/src/test/java/io/neow3j/compiler/VerificationMethodTest.java
  devpack/src/main/java/io/neow3j/devpack/ContractInterface.java
  devpack/src/main/java/io/neow3j/devpack/Hash160.java
  devpack/src/main/java/io/neow3j/devpack/Hash256.java
  devpack/src/main/java/io/neow3j/devpack/StringLiteralHelper.java
  devpack/src/main/java/io/neow3j/devpack/annotations/Instruction.java
  devpack/src/main/java/io/neow3j/devpack/contracts/ManagementContract.java
  devpack/src/main/java/io/neow3j/devpack/contracts/NeoToken.java
  devpack/src/main/java/io/neow3j/devpack/contracts/Nep17Token.java
  devpack/src/main/java/io/neow3j/devpack/contracts/PolicyContract.java
  devpack/src/main/java/io/neow3j/devpack/neo/Account.java
  devpack/src/main/java/io/neow3j/devpack/neo/Block.java
  devpack/src/main/java/io/neow3j/devpack/neo/Blockchain.java
  devpack/src/main/java/io/neow3j/devpack/neo/Contract.java
  devpack/src/main/java/io/neow3j/devpack/neo/Crypto.java
  devpack/src/main/java/io/neow3j/devpack/neo/Notification.java
  devpack/src/main/java/io/neow3j/devpack/neo/Runtime.java
  devpack/src/main/java/io/neow3j/devpack/neo/Transaction.java
  devpack/src/main/java/io/neow3j/devpack/system/Callback.java
  devpack/src/main/java/io/neow3j/devpack/system/ExecutionEngine.java
Labels: devpack, neo3, preview4

#366 Candidate check in NeoToken vote method
  contract/src/main/java/io/neow3j/contract/NeoToken.java
  contract/src/test/java/io/neow3j/contract/NeoTokenTest.java
  contract/src/test/resources/responses/invokefunction_getcandidates.json
Labels: neo3, sdk

#329 Add ECPoint class to devpack
  compiler/src/main/java/io/neow3j/compiler/Compiler.java
  compiler/src/test-integration/java/io/neow3j/compiler/DesignationContractTest.java
  compiler/src/test-integration/java/io/neow3j/compiler/ECPointIntegrationTest.java
  compiler/src/test-integration/java/io/neow3j/compiler/NeoTokenTest.java
  compiler/src/test/java/io/neow3j/compiler/CompilerTest.java
  compiler/src/test/java/io/neow3j/compiler/ECPointTest.java
  devpack/src/main/java/io/neow3j/devpack/ECPoint.java
  devpack/src/main/java/io/neow3j/devpack/contracts/NeoToken.java
  devpack/src/main/java/io/neow3j/devpack/neo/Account.java
  devpack/src/main/java/io/neow3j/devpack/neo/Crypto.java
  devpack/src/main/java/io/neow3j/devpack/neo/DesignationContract.java
  devpack/src/main/java/io/neow3j/devpack/neo/Runtime.java
  utils/src/main/java/io/neow3j/contract/ContractParameter.java
  utils/src/test/java/io/neow3j/contract/ContractParameterTest.java
Labels: devpack, neo3, preview4

#372 Add @Safe annotation
  compiler/src/main/java/io/neow3j/compiler/Compiler.java
  compiler/src/main/java/io/neow3j/compiler/CompilerException.java
  compiler/src/main/java/io/neow3j/compiler/ManifestBuilder.java
  compiler/src/main/java/io/neow3j/compiler/NeoMethod.java
  compiler/src/main/java/io/neow3j/compiler/converters/MethodsConverter.java
  compiler/src/main/java/io/neow3j/compiler/converters/ObjectsConverter.java
  compiler/src/test/java/io/neow3j/compiler/CompilerExceptionsTest.java
  compiler/src/test/java/io/neow3j/compiler/SafeMethodTest.java
  devpack/src/main/java/io/neow3j/devpack/annotations/Safe.java
Labels: devpack, feature, neo3
