Repository neow3j/neow3j, pull requests merged in 2021-04, with the labels that each got.

#492 Uniform hash endianness handling
  compiler/src/main/java/io/neow3j/compiler/converters/MethodsConverter.java
  compiler/src/test-integration/java/io/neow3j/compiler/ContractTestRule.java
  contract/src/main/java/io/neow3j/contract/NeoURI.java
  contract/src/main/java/io/neow3j/contract/SmartContract.java
  contract/src/test/java/io/neow3j/contract/FungibleTokenTest.java
  core/src/main/java/io/neow3j/contract/ContractParameter.java
  core/src/main/java/io/neow3j/contract/Hash160.java
  core/src/main/java/io/neow3j/contract/Hash256.java
  core/src/main/java/io/neow3j/contract/ScriptBuilder.java
  core/src/main/java/io/neow3j/crypto/Hash.java
  core/src/main/java/io/neow3j/protocol/core/JsonRpc2_0Neow3j.java
  core/src/main/java/io/neow3j/protocol/core/Neo.java
  core/src/main/java/io/neow3j/protocol/core/methods/response/ByteArrayStackItem.java
  core/src/main/java/io/neow3j/protocol/core/methods/response/TransactionSendAsset.java
  core/src/main/java/io/neow3j/protocol/core/methods/response/TransactionSigner.java
  core/src/main/java/io/neow3j/transaction/Signer.java
  core/src/main/java/io/neow3j/transaction/Transaction.java
  core/src/test-integration/java/io/neow3j/protocol/Neow3jReadOnlyIntegrationTest.java
  core/src/test-integration/java/io/neow3j/protocol/Neow3jWriteIntegrationTest.java
  core/src/test/java/io/neow3j/contract/Hash160Test.java
  core/src/test/java/io/neow3j/contract/Hash256Test.java
  core/src/test/java/io/neow3j/protocol/core/RequestTest.java
  core/src/test/java/io/neow3j/protocol/core/ResponseTest.java
  core/src/test/java/io/neow3j/transaction/TransactionTest.java
  core/src/test/java/io/neow3j/transaction/WitnessTest.java
  core/src/test/java/io/neow3j/wallet/AccountTest.java
Labels: maintenance, neo n3, sdk

#496 Find Options
  compiler/src/main/java/io/neow3j/compiler/Compiler.java
  compiler/src/test-integration/java/io/neow3j/compiler/StorageIntegrationTest.java
  compiler/src/test/java/io/neow3j/compiler/CompilerTest.java
  core/src/main/java/io/neow3j/protocol/core/methods/response/ByteStringStackItem.java
  core/src/test/java/io/neow3j/crypto/HashTest.java
  devpack/src/main/java/io/neow3j/devpack/ApiInterface.java
  devpack/src/main/java/io/neow3j/devpack/FindOptions.java
  devpack/src/main/java/io/neow3j/devpack/InteropInterface.java
  devpack/src/main/java/io/neow3j/devpack/Iterator.java
  devpack/src/main/java/io/neow3j/devpack/Notification.java
  devpack/src/main/java/io/neow3j/devpack/Storage.java
  devpack/src/main/java/io/neow3j/devpack/StorageContext.java
  devpack/src/main/java/io/neow3j/devpack/Transaction.java
Labels: devpack, feature, neo n3

#495 Contract Module Integration Tests
  .github/workflows/integration.yml
  contract/src/main/java/io/neow3j/contract/FungibleToken.java
  contract/src/main/java/io/neow3j/contract/NeoToken.java
  contract/src/main/java/io/neow3j/contract/NeoURI.java
  contract/src/main/java/io/neow3j/contract/NonFungibleToken.java
  contract/src/main/java/io/neow3j/contract/SmartContract.java
  contract/src/test-integration/java/io/neow3j/contract/ContractManagementIntegrationTest.java
  contract/src/test-integration/java/io/neow3j/contract/FungibleTokenIntegrationTest.java
  contract/src/test-integration/java/io/neow3j/contract/IntegrationTestHelper.java
  contract/src/test-integration/java/io/neow3j/contract/NameServiceIntegrationTest.java
  contract/src/test-integration/java/io/neow3j/contract/NeoTokenIntegrationTest.java
  contract/src/test-integration/java/io/neow3j/contract/NeoURIIntegrationTest.java
  contract/src/test-integration/java/io/neow3j/contract/PolicyContractIntegrationTest.java
  contract/src/test-integration/java/io/neow3j/contract/RoleManagementIntegrationTest.java
  contract/src/test-integration/java/io/neow3j/contract/TokenIntegrationTest.java
  contract/src/test-integration/resources/contracts/TestContract.manifest.json
  contract/src/test-integration/resources/contracts/TestContract.nef
  contract/src/test-integration/resources/node-config/config.json
  contract/src/test-integration/resources/node-config/dbft.config.json
  contract/src/test-integration/resources/node-config/rpcserver.config.json
  contract/src/test-integration/resources/node-config/wallet.json
  contract/src/test/java/io/neow3j/contract/ContractManagementTest.java
  contract/src/test/java/io/neow3j/contract/FungibleTokenTest.java
  contract/src/test/java/io/neow3j/contract/NeoTokenTest.java
  contract/src/test/java/io/neow3j/contract/NeoURITest.java
  contract/src/test/java/io/neow3j/contract/NonFungibleTokenTest.java
  contract/src/test/resources/responses/nft_ownerof.json
  contract/src/test/resources/responses/nns_invokefunction_ownerof.json
  contract/src/test/resources/responses/nns_ownerof.json
  core/src/main/java/io/neow3j/utils/Await.java
  core/src/test-integration/java/io/neow3j/protocol/IntegrationTestHelper.java
  test-properties/src/main/java/io/neow3j/TestProperties.java
  test-properties/src/main/resources/test.properties
Labels: neo n3, sdk

#503 RPC API Refactor
  compiler/src/test-integration/java/io/neow3j/compiler/ContractManagementIntegrationTest.java
  compiler/src/test-integration/java/io/neow3j/compiler/ContractTestRule.java
  compiler/src/test-integration/java/io/neow3j/compiler/VerificationMethodIntegrationTest.java
  contract/src/main/java/io/neow3j/contract/SmartContract.java
  core/src/main/java/io/neow3j/protocol/core/JsonRpc2_0Neow3j.java
  core/src/main/java/io/neow3j/protocol/core/Neo.java
  core/src/main/java/io/neow3j/protocol/core/methods/response/NeoGetNep17Transfers.java
  core/src/main/java/io/neow3j/protocol/core/methods/response/TransactionSendToken.java
  core/src/main/java/io/neow3j/utils/Await.java
  core/src/main/java/io/neow3j/wallet/Account.java
  core/src/test-integration/java/io/neow3j/protocol/IntegrationTestHelper.java
  core/src/test-integration/java/io/neow3j/protocol/Neow3jReadOnlyIntegrationTest.java
  core/src/test-integration/java/io/neow3j/protocol/Neow3jWriteIntegrationTest.java
  core/src/test/java/io/neow3j/protocol/core/RequestTest.java
  core/src/test/java/io/neow3j/protocol/core/ResponseTest.java
Labels: maintenance, neo n3, sdk

#502 Remove ContractParameter deserializer
  core/src/main/java/io/neow3j/contract/ContractParameter.java
Labels: neo n3, sdk

#504 Utility methods
  compiler/src/main/java/io/neow3j/compiler/converters/MethodsConverter.java
  compiler/src/test-integration/java/io/neow3j/compiler/RoleManagementTest.java
  contract/src/main/java/io/neow3j/contract/FungibleToken.java
  contract/src/main/java/io/neow3j/contract/NefFile.java
  contract/src/main/java/io/neow3j/contract/NeoNameService.java
  contract/src/main/java/io/neow3j/contract/NeoURI.java
  contract/src/main/java/io/neow3j/contract/NonFungibleToken.java
  contract/src/main/java/io/neow3j/contract/PolicyContract.java
  contract/src/main/java/io/neow3j/contract/RoleManagement.java
  contract/src/main/java/io/neow3j/contract/SmartContract.java
  contract/src/main/java/io/neow3j/contract/Token.java
  contract/src/main/java/io/neow3j/contract/TransactionBuilder.java
  contract/src/test-integration/java/io/neow3j/contract/FungibleTokenIntegrationTest.java
  contract/src/test-integration/java/io/neow3j/contract/NeoURIIntegrationTest.java
  contract/src/test-integration/java/io/neow3j/contract/PolicyContractIntegrationTest.java
  contract/src/test-integration/java/io/neow3j/contract/RoleManagementIntegrationTest.java
  contract/src/test/java/io/neow3j/contract/FungibleTokenTest.java
  contract/src/test/java/io/neow3j/contract/NefFileTest.java
  contract/src/test/java/io/neow3j/contract/NeoTokenTest.java
  contract/src/test/java/io/neow3j/contract/NeoURITest.java
  contract/src/test/java/io/neow3j/contract/PolicyContractTest.java
  contract/src/test/java/io/neow3j/contract/RoleManagementTest.java
  contract/src/test/java/io/neow3j/contract/TransactionBuilderTest.java
  core/src/main/java/io/neow3j/contract/ContractParameter.java
  core/src/main/java/io/neow3j/contract/Hash160.java
  core/src/main/java/io/neow3j/crypto/ECKeyPair.java
  core/src/main/java/io/neow3j/transaction/Signer.java
  core/src/main/java/io/neow3j/transaction/Transaction.java
  core/src/main/java/io/neow3j/utils/AddressUtils.java
  core/src/main/java/io/neow3j/utils/Numeric.java
  core/src/test/java/io/neow3j/contract/ContractParameterTest.java
  core/src/test/java/io/neow3j/transaction/SignerTest.java
  core/src/test/java/io/neow3j/transaction/TransactionTest.java
  core/src/test/java/io/neow3j/utils/AddressUtilsTest.java
Labels: feature, neo n3, sdk

#507 multi file compilation
  compiler/src/main/java/io/neow3j/compiler/CompilationUnit.java
  compiler/src/main/java/io/neow3j/compiler/Compiler.java
  compiler/src/main/java/io/neow3j/compiler/DebugInfo.java
  compiler/src/main/java/io/neow3j/compiler/NeoMethod.java
  compiler/src/main/java/io/neow3j/compiler/sourcelookup/CompositeSourceContainer.java
  compiler/src/main/java/io/neow3j/compiler/sourcelookup/DirectorySourceContainer.java
  compiler/src/main/java/io/neow3j/compiler/sourcelookup/ISourceContainer.java
  compiler/src/test-integration/java/io/neow3j/compiler/ContractManagementIntegrationTest.java
  compiler/src/test-integration/java/io/neow3j/compiler/ContractTestRule.java
  compiler/src/test/java/io/neow3j/compiler/ArraysConverterTest.java
  compiler/src/test/java/io/neow3j/compiler/CompilerExceptionsTest.java
  compiler/src/test/java/io/neow3j/compiler/ContractEventsTest.java
  compiler/src/test/java/io/neow3j/compiler/ContractNameTest.java
  compiler/src/test/java/io/neow3j/compiler/DeploymentMethodTest.java
  compiler/src/test/java/io/neow3j/compiler/ECPointTest.java
  compiler/src/test/java/io/neow3j/compiler/GroupManifestTest.java
  compiler/src/test/java/io/neow3j/compiler/HashTest.java
  compiler/src/test/java/io/neow3j/compiler/InstanceVariablesTest.java
  compiler/src/test/java/io/neow3j/compiler/ListTest.java
  compiler/src/test/java/io/neow3j/compiler/MethodTokensTest.java
  compiler/src/test/java/io/neow3j/compiler/OnNEP11PaymentMethodTest.java
  compiler/src/test/java/io/neow3j/compiler/OnNEP17PaymentMethodTest.java
  compiler/src/test/java/io/neow3j/compiler/PermissionManifestTest.java
  compiler/src/test/java/io/neow3j/compiler/SafeMethodTest.java
  compiler/src/test/java/io/neow3j/compiler/StringLiteralHelperTest.java
  compiler/src/test/java/io/neow3j/compiler/SupportedStandardsTest.java
  compiler/src/test/java/io/neow3j/compiler/ThrowExceptionTest.java
  compiler/src/test/java/io/neow3j/compiler/TrustManifestTest.java
  compiler/src/test/java/io/neow3j/compiler/VerificationMethodTest.java
  compiler/src/test/java/io/neow3j/compiler/sourcelookup/DirectorySourceContainerTest.java
  compiler/src/test/java/io/neow3j/compiler/sourcelookup/MockSourceContainer.java
  compiler/src/test/java/io/neow3j/compiler/sourcelookup/TestSmartContract.java
  compiler/src/test/resources/sources/inbetween/io/neow3j/compiler/sourcelookup/DirectorySourceContainerTest.java
  compiler/src/test/resources/sources/io/neow3j/compiler/sourcelookup/TestSmartContract.java
  devpack/src/main/java/io/neow3j/devpack/Iterator.java
  gradle-plugin/src/main/java/io/neow3j/devpack/gradle/Neow3jCompileAction.java
  gradle-plugin/src/main/java/io/neow3j/devpack/gradle/Neow3jCompileTask.java
  gradle-plugin/src/main/java/io/neow3j/devpack/gradle/Neow3jPlugin.java
  gradle-plugin/src/main/java/io/neow3j/devpack/gradle/Neow3jPluginExtension.java
  gradle-plugin/src/main/java/io/neow3j/devpack/gradle/Neow3jPluginOptions.java
  gradle-plugin/src/main/java/io/neow3j/devpack/gradle/Neow3jPluginUtils.java
  gradle-plugin/src/test-integration/java/io/neow3j/devpack/gradle/GradleProjectTestCase.java
  gradle-plugin/src/test-integration/java/io/neow3j/devpack/gradle/Neow3jCompilePluginIntegrationTest.java
  gradle-plugin/src/test/java/io/neow3j/devpack/gradle/Neow3jPluginTest.java
Labels: devpack, feature, neo n3

#509 Make transfer amounts uniform
  compiler/src/test-integration/java/io/neow3j/compiler/ContractTestRule.java
  compiler/src/test-integration/java/io/neow3j/compiler/NeoTokenIntegrationTest.java
  compiler/src/test-integration/java/io/neow3j/compiler/OracleContractIntegrationTest.java
  contract/src/main/java/io/neow3j/contract/FungibleToken.java
  contract/src/main/java/io/neow3j/contract/NeoURI.java
  contract/src/main/java/io/neow3j/contract/NonFungibleToken.java
  contract/src/main/java/io/neow3j/contract/Token.java
  contract/src/test-integration/java/io/neow3j/contract/FungibleTokenIntegrationTest.java
  contract/src/test-integration/java/io/neow3j/contract/IntegrationTestHelper.java
  contract/src/test-integration/java/io/neow3j/contract/NeoTokenIntegrationTest.java
  contract/src/test-integration/java/io/neow3j/contract/NeoURIIntegrationTest.java
  contract/src/test/java/io/neow3j/contract/FungibleTokenTest.java
  contract/src/test/java/io/neow3j/contract/NeoURITest.java
  contract/src/test/java/io/neow3j/contract/TokenTest.java
  contract/src/test/java/io/neow3j/contract/TransactionBuilderTest.java
Labels: maintenance, neo n3, sdk

#510 Add StorageContext createMap method with String parameter
  compiler/src/test-integration/java/io/neow3j/compiler/StorageContextIntegrationTest.java
  devpack/src/main/java/io/neow3j/devpack/StorageContext.java
Labels: devpack, maintenance, neo n3

#511 fixes and cleanups
  compiler/src/main/java/io/neow3j/compiler/Compiler.java
  compiler/src/test-integration/java/io/neow3j/compiler/ContractEventsIntegrationTest.java
  compiler/src/test-integration/java/io/neow3j/compiler/IteratorTest.java
  compiler/src/test-integration/java/io/neow3j/compiler/StorageIntegrationTest.java
  compiler/src/test/java/io/neow3j/compiler/CompilerTest.java
  compiler/src/test/java/io/neow3j/compiler/ContractEventsTest.java
  core/src/main/java/io/neow3j/utils/Version.java
  devpack/src/main/java/io/neow3j/devpack/Iterator.java
  devpack/src/main/java/io/neow3j/devpack/Storage.java
Labels: maintenance, neo n3

#514 Changed the the Map.Entry to Iterator.Struct
  compiler/src/test-integration/java/io/neow3j/compiler/IteratorTest.java
  compiler/src/test-integration/java/io/neow3j/compiler/StorageIntegrationTest.java
  devpack/src/main/java/io/neow3j/devpack/Iterator.java
  devpack/src/main/java/io/neow3j/devpack/Map.java
  devpack/src/main/java/io/neow3j/devpack/Storage.java
Labels: devpack, maintenance

#520 Fix for bug in compilation of try-catch
  compiler/src/main/java/io/neow3j/compiler/NeoMethod.java
  compiler/src/main/java/io/neow3j/compiler/converters/MethodsConverter.java
  compiler/src/test-integration/java/io/neow3j/compiler/SwitchCaseIntegrationTest.java
Labels: bug, devpack

#524 Support for instanceof
  compiler/src/main/java/io/neow3j/compiler/Compiler.java
  compiler/src/main/java/io/neow3j/compiler/converters/ObjectsConverter.java
  compiler/src/test-integration/java/io/neow3j/compiler/InstanceOfIntegrationTest.java
  compiler/src/test/java/io/neow3j/compiler/CompilerExceptionsTest.java
  compiler/src/test/java/io/neow3j/compiler/CompilerTest.java
  core/src/main/java/io/neow3j/contract/ContractParameter.java
Labels: devpack, feature

#522 Handle calls to `Object` methods
  compiler/src/main/java/io/neow3j/compiler/NeoMethod.java
  compiler/src/main/java/io/neow3j/compiler/converters/MethodsConverter.java
  compiler/src/test-integration/java/io/neow3j/compiler/LedgerContractIntegrationTest.java
  compiler/src/test-integration/java/io/neow3j/compiler/ObjectInheritedIntegrationTest.java
  compiler/src/test-integration/java/io/neow3j/compiler/StringConcatenationTest.java
  compiler/src/test/java/io/neow3j/compiler/CompilerExceptionsTest.java
  core/src/main/java/io/neow3j/contract/ContractParameter.java
  core/src/test/java/io/neow3j/contract/ContractParameterTest.java
  devpack/build.gradle
  devpack/src/main/java/io/neow3j/devpack/Block.java
  devpack/src/main/java/io/neow3j/devpack/ByteString.java
  devpack/src/main/java/io/neow3j/devpack/Contract.java
  devpack/src/main/java/io/neow3j/devpack/ECPoint.java
  devpack/src/main/java/io/neow3j/devpack/ExecutionEngine.java
  devpack/src/main/java/io/neow3j/devpack/Hash160.java
  devpack/src/main/java/io/neow3j/devpack/Hash256.java
  devpack/src/main/java/io/neow3j/devpack/Iterator.java
  devpack/src/main/java/io/neow3j/devpack/List.java
  devpack/src/main/java/io/neow3j/devpack/Map.java
  devpack/src/main/java/io/neow3j/devpack/Notification.java
  devpack/src/main/java/io/neow3j/devpack/StorageContext.java
  devpack/src/main/java/io/neow3j/devpack/StorageMap.java
  devpack/src/main/java/io/neow3j/devpack/Transaction.java
  devpack/src/main/java/io/neow3j/devpack/TriggerType.java
  devpack/src/main/java/io/neow3j/devpack/annotations/Instruction.java
  devpack/src/main/java/io/neow3j/devpack/annotations/Syscall.java
  devpack/src/main/java/io/neow3j/devpack/contracts/ContractManagement.java
Labels: devpack, feature

#528 Tests for vararg method parameters
  compiler/src/test-integration/java/io/neow3j/compiler/ArraysConverterIntegrationTest.java
Labels: devpack, maintenance

#529 Add oracle response codes to devpack
  devpack/src/main/java/io/neow3j/devpack/OracleResponseCode.java
Labels: devpack, feature

#532 Fix bug in null checks
  compiler/src/main/java/io/neow3j/compiler/converters/JumpsConverter.java
  compiler/src/test-integration/java/io/neow3j/compiler/NullCheckIntegrationTest.java
Labels: bug, devpack

#534 Fix bug in operand size check
  compiler/src/main/java/io/neow3j/compiler/NeoInstruction.java
Labels: bug, devpack

#533 Fix bug in object fields indexing
  compiler/src/main/java/io/neow3j/compiler/AsmHelper.java
  compiler/src/main/java/io/neow3j/compiler/converters/ArraysConverter.java
  compiler/src/test-integration/java/io/neow3j/compiler/ObjectsTest.java
Labels: bug, devpack
