Repository neow3j/neow3j, pull requests merged in 2021-07, with the labels that each got.

#600 Support contracts as signer
  compiler/src/test-integration/java/io/neow3j/compiler/ContractManagementIntegrationTest.java
  compiler/src/test-integration/java/io/neow3j/compiler/ContractTestRule.java
  compiler/src/test-integration/java/io/neow3j/compiler/NeoTokenIntegrationTest.java
  compiler/src/test-integration/java/io/neow3j/compiler/OracleContractIntegrationTest.java
  compiler/src/test-integration/java/io/neow3j/compiler/VerificationMethodIntegrationTest.java
  contract/src/main/java/io/neow3j/contract/FungibleToken.java
  contract/src/main/java/io/neow3j/contract/NonFungibleToken.java
  contract/src/main/java/io/neow3j/contract/SmartContract.java
  contract/src/test-integration/java/io/neow3j/contract/ContractManagementIntegrationTest.java
  contract/src/test-integration/java/io/neow3j/contract/NameServiceIntegrationTest.java
  contract/src/test-integration/java/io/neow3j/contract/NeoTokenIntegrationTest.java
  contract/src/test-integration/java/io/neow3j/contract/PolicyContractIntegrationTest.java
  contract/src/test-integration/java/io/neow3j/contract/RoleManagementIntegrationTest.java
  contract/src/test/java/io/neow3j/contract/ContractManagementTest.java
  contract/src/test/java/io/neow3j/contract/NeoNameServiceTest.java
  contract/src/test/java/io/neow3j/contract/NeoTokenTest.java
  contract/src/test/java/io/neow3j/contract/PolicyContractTest.java
  contract/src/test/java/io/neow3j/contract/SmartContractTest.java
  core/src/main/java/io/neow3j/protocol/core/JsonRpc2_0Neow3j.java
  core/src/main/java/io/neow3j/protocol/core/Neo.java
  core/src/main/java/io/neow3j/script/VerificationScript.java
  core/src/main/java/io/neow3j/transaction/AccountSigner.java
  core/src/main/java/io/neow3j/transaction/ContractSigner.java
  core/src/main/java/io/neow3j/transaction/Signer.java
  core/src/main/java/io/neow3j/transaction/TransactionBuilder.java
  core/src/main/java/io/neow3j/transaction/Witness.java
  core/src/main/java/io/neow3j/transaction/exceptions/SignerConfigurationException.java
  core/src/test-integration/java/io/neow3j/protocol/Neow3jReadOnlyIntegrationTest.java
  core/src/test/java/io/neow3j/protocol/core/RequestTest.java
  core/src/test/java/io/neow3j/transaction/SignerTest.java
  core/src/test/java/io/neow3j/transaction/TransactionBuilderTest.java
  core/src/test/java/io/neow3j/transaction/TransactionTest.java
  core/src/test/java/io/neow3j/transaction/WitnessTest.java
Labels: feature, sdk

#604 Make Hash160/256.isValid() a static class method
  compiler/src/test-integration/java/io/neow3j/compiler/HashIntegrationTest.java
  devpack/src/main/java/io/neow3j/devpack/Hash160.java
  devpack/src/main/java/io/neow3j/devpack/Hash256.java
Labels: devpack, maintenance

#605 Add NFT classes to devpack
  compiler/src/main/java/io/neow3j/compiler/converters/MethodsConverter.java
  compiler/src/test-integration/java/io/neow3j/compiler/DivisibleNFTIntegrationTest.java
  compiler/src/test-integration/java/io/neow3j/compiler/NFTIntegrationTest.java
  compiler/src/test-integration/java/io/neow3j/compiler/NonDivisibleNFTIntegrationTest.java
  compiler/src/test/java/io/neow3j/compiler/CompilerExceptionsTest.java
  core/src/main/java/io/neow3j/protocol/core/stackitem/ByteStringStackItem.java
  devpack/src/main/java/io/neow3j/devpack/contracts/DivisibleNonFungibleToken.java
  devpack/src/main/java/io/neow3j/devpack/contracts/FungibleToken.java
  devpack/src/main/java/io/neow3j/devpack/contracts/NonDivisibleNonFungibleToken.java
  devpack/src/main/java/io/neow3j/devpack/contracts/NonFungibleToken.java
  devpack/src/main/java/io/neow3j/devpack/contracts/RoleManagement.java
  devpack/src/main/java/io/neow3j/devpack/contracts/Token.java
Labels: devpack, feature

#598 Static variables in debug info
  compiler/src/main/java/io/neow3j/compiler/AsmHelper.java
  compiler/src/main/java/io/neow3j/compiler/Compiler.java
  compiler/src/main/java/io/neow3j/compiler/DebugInfo.java
  compiler/src/main/java/io/neow3j/compiler/InitsslotNeoMethod.java
  compiler/src/main/java/io/neow3j/compiler/NeoContractVariable.java
  compiler/src/main/java/io/neow3j/compiler/NeoModule.java
  compiler/src/main/java/io/neow3j/compiler/converters/ObjectsConverter.java
  compiler/src/test-integration/java/io/neow3j/compiler/ContractEventsIntegrationTest.java
  compiler/src/test-integration/java/io/neow3j/compiler/StaticVariablesIntegrationTest.java
  compiler/src/test/java/io/neow3j/compiler/AsmHelperTest.java
  compiler/src/test/java/io/neow3j/compiler/CompilerExceptionsTest.java
  compiler/src/test/java/io/neow3j/compiler/DebugInfoTest.java
  compiler/src/test/java/io/neow3j/compiler/StaticVariablesTest.java
  compiler/src/test/resources/test.debug.json
Labels: devpack, feature

#607 Add NameService interface to devpack
  compiler/src/test-integration/java/io/neow3j/compiler/DivisibleNFTIntegrationTest.java
  compiler/src/test-integration/java/io/neow3j/compiler/NFTIntegrationTest.java
  compiler/src/test-integration/java/io/neow3j/compiler/NNSIntegrationTest.java
  devpack/src/main/java/io/neow3j/devpack/contracts/NeoNameService.java
Labels: devpack, feature

#609 Make syscall instructions interchangeable with other instruction annotations
  compiler/src/main/java/io/neow3j/compiler/AsmHelper.java
  compiler/src/main/java/io/neow3j/compiler/Compiler.java
  compiler/src/main/java/io/neow3j/compiler/converters/MethodsConverter.java
  compiler/src/main/java/io/neow3j/compiler/converters/ObjectsConverter.java
  compiler/src/test-integration/java/io/neow3j/compiler/InstructionAnnotationsIntegrationTest.java
  compiler/src/test/java/io/neow3j/compiler/AsmHelperTest.java
  compiler/src/test/java/io/neow3j/compiler/CompilerExceptionsTest.java
  compiler/src/test/java/io/neow3j/compiler/CompilerTest.java
  contract/src/main/java/io/neow3j/contract/FungibleToken.java
  core/src/main/java/io/neow3j/script/InteropService.java
  devpack/src/main/java/io/neow3j/devpack/Account.java
  devpack/src/main/java/io/neow3j/devpack/Contract.java
  devpack/src/main/java/io/neow3j/devpack/Crypto.java
  devpack/src/main/java/io/neow3j/devpack/Iterator.java
  devpack/src/main/java/io/neow3j/devpack/Runtime.java
  devpack/src/main/java/io/neow3j/devpack/Storage.java
  devpack/src/main/java/io/neow3j/devpack/StorageContext.java
  devpack/src/main/java/io/neow3j/devpack/annotations/Instruction.java
  devpack/src/main/java/io/neow3j/devpack/annotations/Syscall.java
Labels: devpack, maintenance

#615 Neow3j setter in Transaction class
  core/src/main/java/io/neow3j/transaction/AccountSigner.java
  core/src/main/java/io/neow3j/transaction/Transaction.java
  core/src/main/java/io/neow3j/transaction/TransactionBuilder.java
  core/src/main/java/io/neow3j/transaction/WitnessScope.java
  core/src/test/java/io/neow3j/transaction/TransactionBuilderTest.java
  core/src/test/java/io/neow3j/transaction/TransactionTest.java
Labels: feature, sdk

#619 Neo 3.0.0 updates
  compiler/src/test-integration/java/io/neow3j/compiler/LedgerContractIntegrationTest.java
  compiler/src/test-integration/java/io/neow3j/compiler/PolicyContractIntegrationTest.java
  compiler/src/test-integration/java/io/neow3j/compiler/RuntimeIntegrationTest.java
  core/src/main/java/io/neow3j/protocol/Neow3j.java
  core/src/main/java/io/neow3j/protocol/Neow3jConfig.java
  core/src/main/java/io/neow3j/protocol/core/response/OracleResponseCode.java
  core/src/main/java/io/neow3j/script/InteropService.java
  core/src/main/java/io/neow3j/transaction/Transaction.java
  core/src/test-integration/java/io/neow3j/protocol/Neow3jReadOnlyIntegrationTest.java
  core/src/test/java/io/neow3j/transaction/TransactionTest.java
  devpack/src/main/java/io/neow3j/devpack/Block.java
  devpack/src/main/java/io/neow3j/devpack/Runtime.java
  devpack/src/main/java/io/neow3j/devpack/constants/OracleResponseCode.java
  devpack/src/main/java/io/neow3j/devpack/contracts/PolicyContract.java
  test-tools/src/main/resources/test.properties
Labels: devpack, maintenance, sdk

#620 Gradle: change compile to implementation
  build.gradle
  compiler/build.gradle
  contract/build.gradle
  contract/src/test/java/io/neow3j/contract/NeoURITest.java
  core/build.gradle
  core/src/test/java/io/neow3j/utils/ArrayUtilsTest.java
  devpack/build.gradle
  gradle-plugin/build.gradle
Labels: devpack, maintenance, sdk
