Repository neow3j/neow3j, pull requests merged in 2021-11, with the labels that each got.

#669 Support getMessage method for caught exception
  .github/workflows/ci-cd.yml
  .github/workflows/integration.yml
  compiler/src/main/java/io/neow3j/compiler/converters/MethodsConverter.java
  compiler/src/test-integration/java/io/neow3j/compiler/TryCatchBlocksTest.java
  compiler/src/test/java/io/neow3j/compiler/AssertionTest.java
Labels: feature

#670 Support integer keys in storage methods
  compiler/src/test-integration/java/io/neow3j/compiler/ByteStringIntegrationTest.java
  compiler/src/test-integration/java/io/neow3j/compiler/StorageIntegrationTest.java
  compiler/src/test-integration/java/io/neow3j/compiler/StorageMapIntegrationTest.java
  contract/src/main/java/io/neow3j/contract/NeoToken.java
  core/src/main/java/io/neow3j/wallet/Wallet.java
  core/src/test/java/io/neow3j/wallet/WalletTest.java
  devpack/src/main/java/io/neow3j/devpack/ByteString.java
  devpack/src/main/java/io/neow3j/devpack/Helper.java
  devpack/src/main/java/io/neow3j/devpack/Storage.java
  devpack/src/main/java/io/neow3j/devpack/StorageMap.java
Labels: feature, devpack

#675 Allow deserialisation of tx without witnesses
  core/src/main/java/io/neow3j/serialization/BinaryReader.java
  core/src/main/java/io/neow3j/transaction/Transaction.java
  core/src/test/java/io/neow3j/serialization/BinaryReaderTest.java
  core/src/test/java/io/neow3j/transaction/TransactionTest.java
Labels: bug, sdk

#678 ContractParameter deserialiser
  core/src/main/java/io/neow3j/types/ContractParameter.java
  core/src/test/java/io/neow3j/contract/ContractParameterTest.java
Labels: sdk, maintenance

#672 Add fast forward feature to test framework.
  .github/workflows/integration.yml
  devpack-test/src/main/java/io/neow3j/test/ContractTestExtension.java
  test-tools/src/main/java/io/neow3j/test/NeoExpressTestContainer.java
Labels: feature, devpack

#681 Support placeholder substitution in devpack tests
  compiler/src/main/java/io/neow3j/compiler/Compiler.java
  compiler/src/test-integration/java/io/neow3j/compiler/PlaceholderSubstitutionIntegrationTest.java
  devpack-test/src/main/java/io/neow3j/test/ContractTest.java
  devpack-test/src/main/java/io/neow3j/test/ContractTestExtension.java
  devpack-test/src/main/java/io/neow3j/test/DeployConfiguration.java
  devpack-test/src/main/java/io/neow3j/test/DeployContextParameterResolver.java
  devpack-test/src/test-integration/java/io/neow3j/test/ExampleContract2.java
  devpack-test/src/test-integration/java/io/neow3j/test/ModuleTest.java
Labels: feature, devpack

#684 Attempt to decouple test framework from neo-express
  core/src/test-integration/java/io/neow3j/protocol/Neow3jExpressIntegrationTest.java
  core/src/test-integration/java/io/neow3j/protocol/TransactionBuilderIntegrationTest.java
  core/src/test-integration/resources/oracle-request-invoke.json
  core/src/test-integration/resources/setup.batch
  core/src/test/java/io/neow3j/transaction/WitnessScopeTest.java
  devpack-test/src/main/java/io/neow3j/test/ContainerParameterResolver.java
  devpack-test/src/main/java/io/neow3j/test/ContractTest.java
  devpack-test/src/main/java/io/neow3j/test/ContractTestExtension.java
  devpack-test/src/main/java/io/neow3j/test/Neow3jParameterResolver.java
  devpack-test/src/test-integration/java/io/neow3j/test/ModuleTest.java
  test-tools/src/main/java/io/neow3j/test/NeoExpressTestContainer.java
  test-tools/src/main/java/io/neow3j/test/TestBlockchain.java
Labels: devpack, maintenance
