Repository neow3j/neow3j, pull requests merged in 2023-12, with the labels that each got.

#1005 Add `hardforks` to `getversion`
  core/src/main/java/io/neow3j/protocol/core/response/NeoGetVersion.java
  core/src/test/java/io/neow3j/protocol/core/ResponseTest.java
  int-tests/src/test-integration/java/io/neow3j/protocol/Neow3jReadOnlyIntegrationTest.java
Labels: feature, sdk, Neo 3.6.2

#1003 Add StdLib.strLen()
  devpack/src/main/java/io/neow3j/devpack/contracts/StdLib.java
  int-tests/src/test-integration/java/io/neow3j/compiler/StdLibIntegrationTest.java
Labels: feature, devpack, Neo 3.6.2

#1004 Add new syscall `currentSigners`
  core/src/main/java/io/neow3j/script/InteropService.java
  devpack/src/main/java/io/neow3j/devpack/Runtime.java
  int-tests/src/test-integration/java/io/neow3j/compiler/RuntimeIntegrationTest.java
Labels: feature, devpack, Neo 3.6.2

#1006 Add new Policy attribute fee methods
  contract/src/main/java/io/neow3j/contract/PolicyContract.java
  devpack/src/main/java/io/neow3j/devpack/constants/AttributeType.java
  devpack/src/main/java/io/neow3j/devpack/contracts/PolicyContract.java
  int-tests/src/test-integration/java/io/neow3j/compiler/PolicyContractIntegrationTest.java
  int-tests/src/test-integration/java/io/neow3j/contract/PolicyContractIntegrationTest.java
Labels: feature, devpack, sdk, Neo 3.6.2

#1002 Neo 3.6.2
  contract/src/main/java/io/neow3j/contract/PolicyContract.java
  core/src/main/java/io/neow3j/protocol/core/JsonRpc2_0Neow3j.java
  core/src/main/java/io/neow3j/protocol/core/Neo.java
  core/src/main/java/io/neow3j/protocol/core/response/NativeContractState.java
  core/src/main/java/io/neow3j/protocol/core/response/NeoCancelTransaction.java
  core/src/main/java/io/neow3j/protocol/core/response/NeoGetVersion.java
  core/src/main/java/io/neow3j/script/InteropService.java
  core/src/test/java/io/neow3j/protocol/core/RequestTest.java
  core/src/test/java/io/neow3j/protocol/core/ResponseTest.java
  devpack/src/main/java/io/neow3j/devpack/Runtime.java
  devpack/src/main/java/io/neow3j/devpack/constants/AttributeType.java
  devpack/src/main/java/io/neow3j/devpack/contracts/PolicyContract.java
  devpack/src/main/java/io/neow3j/devpack/contracts/StdLib.java
  int-tests/src/test-integration/java/io/neow3j/compiler/PolicyContractIntegrationTest.java
  int-tests/src/test-integration/java/io/neow3j/compiler/RuntimeIntegrationTest.java
  int-tests/src/test-integration/java/io/neow3j/compiler/StdLibIntegrationTest.java
  int-tests/src/test-integration/java/io/neow3j/contract/PolicyContractIntegrationTest.java
  int-tests/src/test-integration/java/io/neow3j/protocol/Neow3jReadOnlyIntegrationTest.java
  int-tests/src/test-integration/java/io/neow3j/protocol/Neow3jWriteIntegrationTest.java
  test-tools/src/main/resources/neo-cli-config/rpcserver.config.json
  test-tools/src/main/resources/test.properties
Labels: feature, devpack, sdk, maintenance, Neo 3.6.2

#1010 Release 3.21.2
  DEVELOPMENT.md
  README.md
  RELEASE.md
Labels: feature, devpack, sdk, Neo 3.6.2
